.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 50px 0px;
}

#mail, #password {
    width: 400px;
}

#boutons {
    display: flex;
    flex-direction: column;
}

#btn-inscription, #btn-connexion, #btn-deconnexion {
    font-size: 12px;
    height: 30px;
    margin: 2px;
}